
*.txt
*.xlsx
*.csv
*.Rdata
.Rproj.user/98634AA9/sources/per/t/1549A57D
.Rproj.user/98634AA9/sources/per/t/1549A57D-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/lock_file
.Rproj.user/98634AA9/sources/s-B1AAF8D9/F7DAA5F0-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/1549A57D-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/2CC8BADA
.Rproj.user/98634AA9/sources/s-B1AAF8D9/2CC8BADA-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/352E66E7-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/3B35F3FB-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/4A86DA7C-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/4DB3AC67
.Rproj.user/98634AA9/sources/s-B1AAF8D9/4DB3AC67-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/644E2386
.Rproj.user/98634AA9/sources/s-B1AAF8D9/644E2386-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/86E95695
.Rproj.user/98634AA9/sources/s-B1AAF8D9/86E95695-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/880A861A-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/9779A7A5-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/97C7B896
.Rproj.user/98634AA9/sources/s-B1AAF8D9/97C7B896-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/9FF03686-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/AF2FF2B8
.Rproj.user/98634AA9/sources/s-B1AAF8D9/AF2FF2B8-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/B73BF121-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/C557F5E8
.Rproj.user/98634AA9/sources/s-B1AAF8D9/C557F5E8-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/D0A153A7
.Rproj.user/98634AA9/sources/s-B1AAF8D9/D0A153A7-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/DE013809
.Rproj.user/98634AA9/sources/s-B1AAF8D9/DE013809-contents
.Rproj.user/98634AA9/sources/s-B1AAF8D9/EE0A1CB2-contents
.Rproj.user/98634AA9/viewer-cache/5B463A55.Rdata
.Rproj.user/98634AA9/viewer-cache/D517C8AE.Rdata
.Rproj.user/98634AA9/viewer-cache/D8218184.Rdata
.Rproj.user/98634AA9/viewer-cache/DE93701E.Rdata
.Rproj.user/98634AA9/sources/prop/785D8ED9
.Rproj.user/98634AA9/sources/prop/ACD3523D
